.tittle {
    font-size: 60px;
    margin-bottom: 40px;
    color: white;
}

.content-main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.card {
    margin-right: 20px;
}
